@import 'fonts';
@import 'mixins';

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Suisse Intl', sans-serif;
  @media screen and (min-width: 1400px) {
    font-size: 115%;
  }
  @media screen and (min-width: 1600px) {
    font-size: 130%;
  }
  @media screen and (min-width: 1950px) {
    font-size: 140%;
  }
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
}

.container {

}

.row {
  display: flex;
  flex-wrap: wrap;
  @Media screen and (max-width: 992px) {
    flex-direction: column;
  }
}
.min_w {
  min-width: 50%;
  padding: 0 !important;
}
.padding_left {
  margin-left: 5%;
  @media screen and (max-width: 992px) {
    margin-right: 5%;
  }
}
.padding_right {
  padding-right: 5%;
}
.padding_top {
  padding-top: 5%;
}
.padding_bottom {
  padding-bottom: 5%;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 0 5px;
  @media screen and (max-width: 992px) {
    padding: 5% 0;
  }
  &__title {
    color: #fff;
    font-size: 2em;
    line-height: 1.25em;
  }
  @media screen and (max-width: 992px) {
    flex-basis: auto;
  }
}

.fw_300 {
  font-weight: 300;
}
.td_none {
  text-decoration: none;
}
.half_margin {
  margin: .5em 0;
}
.text_red {
  color: #d65454;
}
.content_sapce_between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #3db565 inset;
}